h1 {
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin-left: 1.66%;
  width: 30%;
  border-bottom: 3px solid #f1f1f1;
  padding-bottom: 20px;
}

.photos_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

img {
  width: 30%;
  height: 375px;
  padding: 1.66%;
}
